# Configuração do Servidor
PORT=3000
NODE_ENV=production
JWT_SECRET=sua_chave_secreta_super_segura_aqui

# Tipo de Base de Dados: mysql ou postgresql
DB_TYPE=mysql

# Credenciais da Base de Dados
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=sua_senha_secreta
DB_NAME=sistema_db
